<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
	<title> Bet1929 </title>
	{% block extrahead %} {% endblock %}

</head>

	{% load i18n %}
<body>
	{% load static %}

	<nav class="bandeau">
		<a><img id="logo" src="{% static 'img/logo_bet1929.jpg' %}" alt="Logo" />


	
	{% get_available_languages as LANGUAGES %}
        <form action="/i18n/setlang/" method="post" id="form_language">
            {% csrf_token %}
            <input name="next" type="hidden" value="/" />
            <select name="language" onchange="document.forms['form_language'].submit();">
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <option value="{{ language.code }}" {% ifequal language.code LANGUAGE_CODE %}selected="selected"{% endifequal %}>{{ language.name_local|capfirst }}</option>
            {% endfor %}
            </select>
        </form>


        <div id="clear"><div>
    </nav>
<br/>
      <p>  {% trans "Bienvenue" %} </p>
       
<div id="pageContainer">

	    <div class="menu">
			<li><a><h2>{% trans "Premier item" %}</h2></a></li>
			<li><a><h2>{% trans "Deuxieme" %}</h2></a></li>
			<li><a><h2>{% trans "Troisieme" %}</h2></a></li>
		</div>
        
	{% block content %}

	{% endblock %}
	
</div>
</body>
<footer> <br/><br/>Bet1929 | <a>{% trans "Mentions légales" %}</a></footer>
</html>
